<template>
  <div class="backgroundable-settings">
    <ui-tabs>
      <!-- <ui-tab name="Image">
        <image-upload @upload-success="handleBackgroundImageUpload"></image-upload>
      </ui-tab> -->
      <ui-tab name="Color">
        <div class="settings-window__content">
          <color-picker @color-picked="changeSectionBackgroundColor"></color-picker>
        </div>
      </ui-tab>
    </ui-tabs>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import settingsComponent from '../mixins/settings-component'
  import colorPicker from '../components/color-picker'
  import imageUpload from '../components/image-upload'

  export default {
    mixins: [settingsComponent],
    components: { colorPicker, imageUpload },
    methods: {
      ...mapActions('editor/website/resources/images',['createImageFromResponse']),
      ...mapActions('componentTree',['changeBackgroundableColor']),
      changeSectionBackgroundColor(color) {
        this.changeBackgroundableColor({ ...this.component, color })
      },
      changeSectionBackgroundImage(image) {
        this.changeBackgroundImage({ component: this.component, image })
      },
      async handleBackgroundImageUpload(response) {
        const image = await this.createImageFromResponse({ response })
        this.changeSectionBackgroundImage(image)
      }
    },
    computed: {
      // ...mapGetters('editor/backgroundable', ['componentColor'])
    }
  }
</script>