<template>
  <div class="component-insert-canvas">
    <insert-line
      v-for="{ component, prepend } in insertLines"
      :component="component"
      :prepend="prepend"
      :key="`insert-line-${component.wbcId}-${!!prepend}`"
    />
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import insertLine from './component-insert-canvas/insert-line'

  export default {
    components: { insertLine },
    computed: {
      insertLines() {
        return [
          ...this.mountedInsertableComponents.map(component => ({ component })),
          ...this.mountedInsertableComponents
            .filter(component => this.firstContainerChildrenComponents.includes(component))
            .map(component => ({ component, prepend: true }))
        ]
      },
      mountedInsertableComponents() {
        const mountedComponents = this.$store.state.mountedComponents.components
        return mountedComponents
          .map(component => this.containerChildrenComponentsById[component])
          .filter(Boolean)
      },
      containerComponents() {
        return this.$store.getters['componentTree/components']
          .filter(component => component.name == 'wbc-container')
      },
      containerChildrenComponentsById() {
        return this.containerComponents
          .map(component => component.children)
          .flat()
          .reduce((components, component) => {
            components[component.wbcId] = component
            return components
          }, {})          
      },
      firstContainerChildrenComponents() {
        return this.containerComponents.map(component => component.children[0]).flat()
      }
    },
  }
</script>

<style lang="scss">
  .component-insert-canvas {
    position: relative;
  }
</style>
