<template>
  <div class="component-settings-canvas" :class="{active: editingComponent}">
    <vue-draggable-resizable 
      v-if="editingComponent"
      :w="400" 
      :h="300" 
      parent=".component-settings-canvas"
      :resizable="false" 
      drag-handle=".ui-window__header"
    >
      <ui-window @close="unsetEditable(editingComponent)">
        <template slot="header">
          <ui-h h="4">{{ names[editingComponent.name] }} settings</ui-h>
        </template>
        <component
          :is="settingsComponent"
          :component="editingComponent"
          :key="editingComponent.wbcId"
          @close="unsetEditable"
        >
        </component>          
      </ui-window>
    </vue-draggable-resizable>
  </div>
</template>

<script>
  import { mapGetters, mapMutations, mapActions } from 'vuex'
  import settingsComponents from './component-settings-canvas/'
  import VueDraggableResizable from 'vue-draggable-resizable'
  import names from 'wbc-components/config/names/components'

  export default {
    components: { VueDraggableResizable },
    data() {
      return {
        names
      }
    },
    computed: {
      editingComponent() {
        return this.$store.getters['componentTree/componentsById'][this.$store.state.editor.editable.editableId]
      },
      settingsComponent() {
        if (!this.editingComponent) return
        return settingsComponents[this.editingComponent.name]
      },
    },
    methods: {
      ...mapActions('editor/editable', ['unsetEditable'])
    }
  }
</script>

<style lang="scss">
  .component-settings-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    &.active {
      width: 100%;
      height: 100%;
    }
  }
</style>