<script>
  import { mapGetters, mapState } from 'vuex'
  import controller from 'wbc-components/controller'
  import wrappers from './editable-wbc-tree-canvas/wrappers'

  export default {
    functional: true,
    render(h, context) {
      const wbcLayout = context.parent.$store.getters['componentTree/wbcLayout']
      const wbcPage = context.parent.$store.getters['componentTree/wbcPage']

      const page = h(controller, { slot: 'page', props: { wrappers, root: wbcPage } })
      const layout = h(controller, { props: { wrappers, root: wbcLayout } }, [page])

      return h('div', { 
        class: 'editable-wbc-tree-canvas',
        style: context.data.style
      }, [layout])
    }
  }
</script>

<style lang="scss">
  .editable-wbc-tree-canvas {
    padding: 28px;
  }
</style>