<template>
  <form class="website-form" @submit.prevent="handleSubmit">
    <ui-h h="3" style="margin-bottom: 10px">Create a website</ui-h>

    <label>Website name</label>
    <ui-text-field v-model="form.name" placeholder="Enter website name"></ui-text-field>

    <el-button native-type="submit">Create</el-button>
  </form>
</template>

<script>
  export default {
    data() {
      return { form: { name: '' } }
    },
    methods: {
      async handleSubmit() {
        const { data } = await this.$axios.post('/api/websites', { ...this.form })
        this.$store.dispatch('websites/fetchWebsites')
        this.$emit('close')
      }
    }
  }
</script>

<style lang="scss">
  .website-form {
    .v--modal & {
      padding: 30px;
    }
  }
</style>