<template>
  <div class="component-popper">
    <slot v-bind="{ parentHeight, parentWidth }"></slot>
  </div>
</template>

<script>
  import Popper from 'popper.js'

  export default {
    props: ['component', 'placement'],
    data() {
      return {
        popperInstance: null,
        parentWidth: 'auto',
        parentHeight: 'auto'
      }
    },
    computed: {

    },
    methods: {
      onPopperUpdate(data) {
      },
      recalculateWidth(data) {
        const style = window.getComputedStyle ? getComputedStyle(data.instance.reference.parentElement, null) : el.currentStyle
        const width = data.instance.reference.parentElement.offsetWidth - parseFloat(style.paddingLeft) - parseFloat(style.paddingRight)
        const height = data.instance.reference.parentElement.offsetHeight - parseFloat(style.paddingTop) - parseFloat(style.paddingBottom)
        this.parentWidth = width
        this.parentHeight = height
      },
      initPopper() {
        const reference = document.getElementById(`wrapper-${this.component.wbcId}`)
        const popper = this.$el

        const popperInstance = new Popper(reference, popper, {
          placement: this.placement || 'top-start',
          onUpdate: this.onPopperUpdate,
          onCreate: this.recalculateWidth
        })

        this.popperInstance = popperInstance
      },
    },
    mounted() {
      this.initPopper()
    }
  }
</script>

<style lang="scss">
  .component-popper {
    z-index: 3;
  }
</style>