<template>
  <div class="insert-components">
    <ui-flex class="insert-components__items">
      <div 
        v-for="item in items"
        class="insert-component-item insert-components__item"
        :key="item.title"
        @click="handleItemClick(item)"
      >
        <img :src="item.icon"/>
        <h6>{{ item.title }}</h6>        
      </div>
    </ui-flex>
  </div>
</template>

<script>
  import { VClosePopover } from 'v-tooltip'
  import textIcon from '~/assets/images/icons/text.svg'
  import imageIcon from '~/assets/images/icons/image.svg'
  import buttonIcon from '~/assets/images/icons/button.svg'

  import * as wbcFactory from 'wbc-components/factories/wbc-factory'

  export default {
    directives: { 'close-popover': VClosePopover },
    props: ['component', 'prepend'],
    data() {
      return {
        items: [
          {
            title: 'Text',
            name: 'text',
            icon: textIcon
          },
          {
            title: 'Image',
            name: 'image',
            icon: imageIcon
          },
          {
            title: 'Button',
            name: 'button',
            icon: buttonIcon
          },                    
        ]
      }
    },
    computed: {
      componentsByGroups() {
        return this.components.reduce((accumulator, currentValue) => {
          const group = accumulator[accumulator.length-1]

          if (group.length && group.length % 3 == 0) {
            accumulator.push([currentValue])
          } else {
            accumulator[accumulator.length-1].push(currentValue)
          }

          return accumulator
        }, [[]])
      }
    },
    methods: {
      handleItemClick(item) {
        const component = wbcFactory[item.name]()
        this.$emit('component', component)
      },
    },
  }
</script>

<style lang="scss">
  .insert-components {
    margin-top: 20px;
    
    &__item {
      text-align: center;
      border: 1px solid rgba(black, 0.1);
      margin-right: 10px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        border: 1px solid rgba(black, .25);
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        height: 30px;
        margin-bottom: 5px;
      }

      h6 {
        text-align: center;
        font-size: 14px;
      }
    }

    &__group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: .5rem;

      & > div {
        padding-right: .5rem;
        flex-grow: 1;

        &::last-child {
          padding-right: 0;
        }
      }
    }
  }

  .insert-component-item {
    width: 80px;
    // height: 80px;
  }
</style>