<template>
  <div class="mouse-proximity">
    <slot v-bind:active="active"></slot>
  </div>
</template>

<script>
  import uuid from 'uuid/v1'

  export default {
    props: {
      threshold: {
        default: () => 30
      }
    },
    data() {
      return {
        mouseProximity: {},
        id: uuid()
      }
    },
    methods: {
      getProximity() {
        this.mouseProximity = this.$wbcMouseProximities.proximities.find(p => p.id == this.id)
      }
    },
    computed: {
      active() {
        return this.mouseProximity.distance < this.threshold
      }
    },
    mounted() {
      this.$wbcMouseProximities.add({ id: this.id, el: this.$el })
      this.getProximity()
    }
  }
</script>