<template>
  <div class="color-picker">
    <chrome-color-picker :value="color || {}" @input="updateColor"></chrome-color-picker>
  </div>
</template>

<script>

  export default {
    props: ['color'],
    methods: {
      updateColor(c) {
        this.$emit('color-picked', c.hex);
      }
    }
  }
</script>

<style lang="scss">
  .color-picker {
    .vc-chrome {
      width: 100%;
    }

    .vc-slider {
      width: 100%;
    }
  }
</style>