<template>
  <div class="image-upload">
    <vue-dropzone 
      :options="options"
      id="dropzone"
      @vdropzone-success="success"
    >
    </vue-dropzone>
  </div>
</template>

<script>
  export default {
    props: {
      uploadMultiple: {
        type: Boolean,
        default: () => false
      }
    },
    data() {
      return {
        dropzoneOptions: {
          url: '/',
          params: {
            upload_preset: 'image-resource',
          }
        }
      }
    },
    computed: {
      options() {
        return Object.assign(this.dropzoneOptions, {
          uploadMultiple: this.uploadMultiple,
          maxFiles: this.uploadMultiple ? 20 : 1
        })
      }
    },
    methods: {
      success(file) {
        this.$emit('upload-success', file.dataURL) 
      }
    }
  }
</script>