<template>
  <ui-component>
    <el-button @click="handleClick">
      <slot></slot>
    </el-button>
  </ui-component>
</template>

<script>
  export default {
    props: {
      stretch: Boolean,
      type: String,
      transparent: Boolean,
    },
    computed: {
      classes() {
        return {
          'ui-button': true,
          ...this.modifiers
        }
      },
      modifiers() {
        return {
          'stretch': this.stretch,
          'transparent': this.transparent
        }
      },
    },
    methods: {
      handleClick() {
        this.$emit('click')
        if (this.type == 'submit') this.$emit('submit')
      }
    }
  }
</script>

<style lang="scss">
  @import "../styles/variables/colors";

  .ui-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid transparent;
    font-family: inherit;
    border-radius: 3px; 
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    background: $primary;
    white-space: nowrap;
    -webkit-appearance: none;

    &:hover {
      background: $primary-lighter;
      cursor: pointer;
    }

    &.stretch {
      width: 100%;
    }

    &.transparent {
      background: transparent;
      border-color: $primary;
      color: $primary;
    }

    // @include modifier("small") {
    //   padding: .825rem 1.5rem;
    //   font-size: 1rem;
    //   line-height: 0.95rem;

    //   @include media(max-width $screen-sm) {
    //     padding: .775rem 1.5rem;
    //     font-size: 1.1rem;
    //   }
    // }

    // @include modifier('mini') {
    //   font-size: .9rem;
    //   padding: .3rem .6rem;
    // }

    // @include modifier("transparent") {
    //   background: transparent;
    // }

    // @include modifier("stretch") {
    //   width: 100%;    
    // }
  }
</style>