<template>
  <div class="ui-container">
    <slot></slot>
  </div>
</template>

<style lang="scss">
  .ui-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

    @media (min-width: 768px) {
      width: 750px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 992px) {
      width: 970px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 1200px) {
      width: 1170px;
      margin-right: auto;
      margin-left: auto;      
    }
  }
</style>