<script>
  export default {
    functional: true,
    render(h, context) {
      return context.scopedSlots.default({
        style: { 'font-family': "'aktiv-grotesk', sans-serif" },
        class: { 'ui-component': true }
      })
    }
  }
</script>

<style lang="scss">
  @import url("https://use.typekit.net/ghw2per.css");
  
  .ui-component {
    font-size: 14px;
  }
</style>