<template>
  <div :class="classes">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: {
      stretch: Boolean,
      stretchHeight: Boolean,
      alignCenter: Boolean,
      justifyCenter: Boolean,
      justifyBetween: Boolean
    },
    computed: {
      classes() {
        return {
          'ui-flex': true,
          ...this.modifiers
        }
      },
      modifiers() {
        return {
          'stretch': this.stretch,
          'stretch-height': this.stretchHeight,
          'align-center': this.alignCenter,
          'justify-center': this.justifyCenter,
          'justify-between': this.justifyBetween
        }
      }
    }
  }
</script>

<style lang="scss">
  .ui-flex {
    display: flex;

    &.stretch {
      width: 100%;
    }

    &.stretch-height {
      height: 100%;
    }

    &.align-center {
      align-items: center;
    }

    &.justify-center {
      justify-content: center;
    }
    
    &.justify-between {
      justify-content: space-between;
    }
  }
</style>