<template>
  <ui-component v-slot="slotProps">
    <h2 
      :class="{...classes, ...slotProps.class}" 
      :style="{...slotProps.style}"
      :is="'h' + h"
    >
      <slot></slot>
    </h2>      
  </ui-component>
</template>

<script>
  export default {
    props: {
      h: {
        type: String,
        default: () => { return '2' }
      },
      alignCenter: Boolean,
      bolder: Boolean,
      thin: Boolean
    },
    computed: {
      isH() {
        return `is-h${this.h}`
      },
      classes() {
        let classes = {
          'ui-h': true,
          'title': true,
          ...this.modifiers
        }

        classes[this.isH] = true

        return classes
      },
      modifiers() {
        return {
          'align-center': this.alignCenter,
          'bolder': this.bolder,
          'thin': this.thin,
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "../styles/variables/colors";

  .ui-h {
    font-family: inherit;
    color: $grey-text;

    &.align-center {
      text-align: center
    }

    &.bolder {
      font-weight: 600;
    }

    &.thin {
      font-weight: 400;
    }

    &.is-h2 {
      font-size: 24px;
      line-height: 36px;
    }

    &.is-h3 {
      font-size: 1.75rem;
      // margin-bottom: 1rem;
    }  
    
    &.is-h4 {
      font-size: 1.25rem;
      // margin-bottom: .75rem;
    }
  }
</style>