<template>
  <div class="ui-popper-content">
    <ui-component>
      <slot></slot>
    </ui-component>
  </div>
</template>

<style lang="scss">
  .ui-popper-content {
    background: white;
    border-radius: 3x;
    box-shadow: 0 0 5px rgba(black, .25);
    padding: 10px;
  }
</style>