<template>
  <p :class="classes">
    <slot></slot>
  </p>
</template>

<script>
  export default {
    props: {
      center: Boolean
    },
    computed: {
      classes() {
        return {
          'ui-p': true,
          ...this.modifiers
        }
      },
      modifiers() {
        return {
          'center': this.center
        }
      }
    }
  }
</script>

<style lang="scss">
  .ui-p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333333;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.center {
      text-align: center
    }
  }
</style>