<template>
  <popper
    ref="popper"
    class="ui-popper"
    trigger="click"
    :options="{
      placement: placement,
      modifiers: { offset: { offset: '0,10px' } },
    }"
    @show="$emit('show')"
    @hide="$emit('hide')"
  >
    <div class="ui-popper__content" style="z-index: 2">
      <slot name="content" @hey="hey"></slot>
    </div>

    <slot name="reference" slot="reference"></slot>
  </popper>
</template>

<script>
  import Popper from 'vue-popperjs';
  import 'vue-popperjs/dist/vue-popper.css';
  
  export default {
    props: {
      placement: {
        default: () => 'top'
      }
    },
    components: {
      'popper': Popper
    },
    methods: {
      hey: () => alert('jey')
    },
    mounted() {
    }
  }
</script>

<style lang="scss">
  .ui-popper {
    position: relative;
  }
</style>