<template>
  <div class="ui-select">
    <v-select v-model="selected" :options="options"/>
  </div>
</template>

<script>
  import vSelect from 'vue-select'

  export default {
    components: { vSelect },
    props: ['options', 'disabled', 'maxHeight', 'searchable', 'multiple', 'placeholder'],
    computed: {
      selected: {
        get() {
          return 'duchc'
        }
      }
    }
  }
</script>