<template>
  <div class="ui-text-field">
    <slot></slot>
    <input 
      class="ui-text-field__input" 
      :type="type"
      :placeholder="placeholder"
      v-model="content"
      @input="$emit('input', content)"
      @keyup.enter="$emit('submit')"
    />
  </div>
</template>

<script>
  export default {
    props: {
      value: String,
      type: {
        type: String,
        default: () => { return 'text' }
      },
      placeholder: {
        type: String,
        default: () => { return 'Type here' }  
      },
      label: String
    },
    data() {
      return {
        content: this.value
      }
    }
  }
</script>

<style lang="scss">
  @import "../styles/variables/colors";

  .ui-text-field {
    margin-bottom: 10px;
    
    &__input {
      display: block;
      width: 100%;
      line-height: 1.5;
      padding: .75rem 1rem;
      margin: 0;
      font-family: inherit;
      font-size: 14px;
      border: 1px solid #e9ecef;
      border-radius: 3px;

      &:focus {
        outline: none;
        border: 1px solid $primary;
      }
    }
  }
</style>