<template>
  <tabs class="ui-tabs" :options="{ useUrlFragment: false }">
    <slot></slot>
  </tabs>
</template>

<script>
  import { Tabs, Tab } from 'vue-tabs-component'

  export { Tab } from 'vue-tabs-component'

  export default {
    components: { Tabs }
  }
</script>

<style lang="scss">
  @import "../styles/variables/colors";

  .ui-tabs {
    .tabs-component-tabs {
      display: flex;
      width: 100%;

      .tabs-component-tab {
        flex-grow: 1;

        &.is-active {
          .tabs-component-tab-a {
            color: $primary;
            border-bottom: 2px solid $primary;
          }
        }
      }

      .tabs-component-tab-a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: $primary-text;
        padding: .75rem .25rem;
        border-bottom: 1px solid lightgray;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
</style>