<template>
  <div class="ui-window">
    <div class="ui-window__header">
      <slot name="header"></slot>
      <div class="ui-window__close" @click="$emit('close')"></div>
    </div>
    
    <div class="ui-window__body">
      <slot></slot>
    </div>

    <slot name="footer"></slot>
  </div>
</template>

<style lang="scss">
  .ui-window {
    box-shadow: 0 18px 36px 0 rgba(black, 0.1);
    background: white;

    &__header {
      position: relative;
      padding: 12px 24px;
      cursor: move;

      &:not(:empty) {
        border-bottom: 1px solid lightgray;
      }
    }

    &__close {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 26px;
      height: 26px;
      border-radius: 7px;
      color: gray;
      cursor: pointer;

      &:hover {
        color: black;
      }

      &::before {
        content: "×";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__body {
      padding: 0 24px 24px;
    }

    &__footer {

    }
  }
</style>