<template>
  <div class="button-settings">
    <ui-tabs>
      <ui-tab name="Settings">
        <ui-tabcontent>
          <label>Button text</label>
          <ui-text-field v-model="buttonContent" placeholder="Enter button text..."/>
          <label>Button URL</label>          
          <ui-text-field v-model="buttonUrl" placeholder="Enter button url..."/>          
        </ui-tabcontent>
      </ui-tab>
    </ui-tabs>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import settingsComponent from './mixins/settings-component'
  import backgroundable from './modules/backgroundable'

  export default {
    mixins: [settingsComponent],
    computed: {
      buttonForm() {
        return { content: this.buttonContent, url: this.buttonUrl }
      },
      buttonContent: {
        get() {
          return this.component.settings.content
        },
        set(content) {
          this.$store.dispatch('componentTree/changeButtonContent', { wbcId: this.component.wbcId, content })
        }
      },
      buttonUrl: {
        get() {
          return this.component.settings.url
        },
        set(url) {
          this.$store.dispatch('componentTree/changeButtonUrl', { wbcId: this.component.wbcId, url })          
        }
      }      
    }
  }
</script>