<template>
  <ui-tabs>
    <ui-tab name="Content">
      <ui-tabcontent>
        <el-button @click="appendComponent('nav')">+ Add navigation</el-button>
      </ui-tabcontent>
    </ui-tab>    
    <ui-tab name="Alignment">
      <ui-tabcontent>
        <el-button
          @click.native="$store.dispatch('componentTree/changeHeaderAlign', { ...component, align: 'left' })"
        >
          Left
        </el-button>
        <el-button
          @click.native="$store.dispatch('componentTree/changeHeaderAlign', { ...component, align: 'left' })"        
        >
          Center
        </el-button>
        <el-button
          @click.native="$store.dispatch('componentTree/changeHeaderAlign', { ...component, align: 'right' })"        
        >
          Right
        </el-button>        
      </ui-tabcontent>
    </ui-tab>
    <ui-tab name="Background">
      <backgroundable :component="component"></backgroundable>
    </ui-tab>
  </ui-tabs>
</template>

<script>
  import { mapActions } from 'vuex'
  import settingsComponent from './mixins/settings-component'
  import backgroundable from './modules/backgroundable'
  import * as factories from 'wbc-components/factories/wbc-factory'

  export default {
    mixins: [settingsComponent],
    components: { backgroundable },
    methods: {
      appendComponent(component) {
        this.$store.commit('componentTree/appendComponentTo', { wbcId: this.component.wbcId, newComponent: factories[component]() })
      }
    }
  }
</script>