<template>
  <ui-tabs>
    <ui-tab name="Attributes">
      <ui-tabcontent>
        <label>Alt attribute</label>
        <ui-text-field placeholder="Enter alt attribute..."/>        
      </ui-tabcontent>
    </ui-tab>
    <ui-tab name="Image">
      <image-upload @upload-success="handleUploadedImage"></image-upload>
    </ui-tab>
  </ui-tabs>
</template>

<script>
  import { mapActions } from 'vuex'
  import settingsComponent from './mixins/settings-component'
  import imageUpload from './components/image-upload'

  export default {
    mixins: [settingsComponent],
    components: { imageUpload },
    methods: {
      handleUploadedImage(file) {
        console.log('what is file url', file)

        const newComponent = {
          settings: {
            url: file
          }
        }

        this.$store.commit('componentTree/updateComponent', { wbcId: this.component.wbcId, newComponent })
      }
    }
  }
</script>