<template>
  <ui-tabs>
    <ui-tab name="Navigation item">
      <ui-tabcontent>
        <nav-items :nav="component"></nav-items>
        <ui-button @click.native="addNavigationItem('link', 'Nav item')">Add navigation item +</ui-button>
      </ui-tabcontent>
    </ui-tab>
  </ui-tabs>
</template>

<script>
  import settingsComponent from './mixins/settings-component'
  import navItems from './nav-settings/nav-items'
  import insertNavItem from './nav-settings/insert-nav-item'
  import WbcNavItem from 'wbc-components/components/wbc_nav_item'

  export default {
    mixins: [settingsComponent],
    components: { navItems },
    methods: {
      addNavigationItem(type, content) {
        const newComponent = new WbcNavItem({ settings: { type, content } })
        this.$store.commit('componentTree/appendComponentTo', { wbcId: this.component.wbcId, newComponent })
      }
    }
  }
</script>