<template>
  <ui-tabs>
    <ui-tab name="Background">
      <backgroundable :component="component"></backgroundable>
    </ui-tab>
  </ui-tabs>
</template>

<script>
  import { mapActions } from 'vuex'
  import settingsComponent from './mixins/settings-component'
  import backgroundable from './modules/backgroundable'

  export default {
    mixins: [settingsComponent],
    components: { backgroundable },
    methods: {
      ...mapActions('componentTree', ['changeSectionHeightMode'])
    },
    computed: {
      sectionHeightMode() {
        return this.component.settings.mode
      }
    }
  }
</script>