<template>
  <div class="editor">
    <editor-header/>
    <editor-app/>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import editorHeader from './editor/editor-header'
  import editorApp from './editor/editor-app'

  export default {
    props: { website: { required: true } },
    components: { editorHeader, editorApp },
    created() {
      window.app = this
      this.initializeComponentTree()
    },
    computed: {
      ...mapState('websites', ['entities']),
    },
    methods: {
      initializeComponentTree() {
        const { entities } = this
        const { id, slug} = this.$route.params

        const website = entities.websites[id]
        const layout = entities.layouts[website.layout]
        const pages = website.pages.map(page => entities.pages[page])
        const page = pages.find(page => page.slug == slug) || pages[0]
        this.$store.dispatch('componentTree/setCurrentWebsite', { layout, page })
      }
    }
  }
</script>

<style lang="scss">
  .editor {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
</style>