<template>
  <header class="header">
    <ui-flex stretch stretch-height align-center>
      <ui-container>
        <ui-flex stretch align-center justify-center>
          <a href="#" @click.prevent="$router.push('/')">
            <ui-h h="4">Website builder</ui-h>
          </a>
        </ui-flex>
      </ui-container>
    </ui-flex>
  </header>
</template>

<script>
  import { VPopover } from 'v-tooltip'
  import logo from '~/assets/images/logo.png'

  export default {
    data() {
      return {
        logoUrl: logo
      }
    },
    components: { VPopover },
  }
</script>

<style lang="scss">
  .header {
    height: 58px;
    box-shadow: -1px 1px 7px rgba(black, .25);

    &__logo {
      height: 20px;
    }
  }

  .user-avatar {
    &__image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
</style>

