<template>
  <div 
    class="menubar hidden"
    :class="{ focused, active }"
  >
    <div class="menubar__wrapper">
      <text-block :commands="commands" :isActive="isActive"/>
      <text-align :commands="commands" :isActive="isActive"/>

      <button
        class="menubar__button"
        :class="{ 'is-active': isActive.bold() }"
        @click="commands.bold"
      >
        <font-awesome-icon icon="bold"/>
      </button>

      <button
        class="menubar__button"
        :class="{ 'is-active': isActive.italic() }"
        @click="performCommand('italic')"
      >
        <font-awesome-icon icon="italic"/>
      </button>

      <button
        class="menubar__button"
        :class="{ 'is-active': isActive.underline() }"
        @click="performCommand('underline')"
      >
        <font-awesome-icon icon="underline"/>
      </button>

      <button
        class="menubar__button"
        :class="{ 'is-active': isActive.underline() }"
      >
        <font-awesome-icon icon="underline"/>
      </button>      
    </div>
  </div>
</template>

<script>
  import textBlock from './menubar/text-block'
  import textAlign from './menubar/text-align'
  import lineHeight from './menubar/line-height'
  import textLink from './menubar/text-link'

  export default {
    components: { textBlock, textAlign, lineHeight, textLink },
    props: ['focused', 'commands', 'isActive', 'focus', 'editor'],
    data() {
      return {
        active: false,
      }
    },
    methods: {
      performCommand(name, attrs={}) {
        const command = this.commands[name]
        command(attrs)
        this.customFocus()
      },
      customFocus() {
        this.active = false
        this.editor.focus()
      }
    }
  }
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .menubar {
    position: absolute;
    top: 1px;
    left: 0;
    transform: translateY(-100%);
    z-index: 2;
    // background: $primary-darker;
    background: white;
    box-shadow: 0 -1px 6px rgba(dodgerblue, 0.5);
    transition: visibility 1s 1s, opacity .05s .05s;
    overflow: hidden;

    &__wrapper {
      display: flex;
      padding: .35rem;
    }

    &__button {
      &.is-active {
        color: dodgerblue;
      }
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    &.active,
    &.focused {
      visibility: visible;
      opacity: 1;
    }

    button {
      appearance: none;
      padding: 6px 7px;
      background: transparent;
      color: rgba(black, .9);
      text-transform: capitalize;
      border: none;
      font-size: .7rem;
      min-width: 1.7rem;
      border-radius: 3px;
      margin-right: .25rem;

      &.is-active {
        background: rgba(black, .2);
      }

      &:hover {
        background: rgba(black, .2);
        cursor: pointer;
      }
    }
  }
</style>