<template>
  <div class="menubar-line-height">
    <ui-popover :options="{ placement: 'bottom-start' }">
      <button class="menubar__button" slot="target">
        <font-awesome-icon icon="text-height"/>
      </button>

      <div class="menubar-line-height__popover">
        <input type="range" min="1" max="2" step="0.2" v-model="lh">
      </div>
    </ui-popover>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        lh: 1
      }
    }
  }
</script>