<template>
  <div class="menubar-text-link">
    <ui-popover>
      <button slot="target"
        class="menubar__button"
        :class="{ 'is-active': isActive.link() }"
        @click="showLinkMenu=true"
      >
        <font-awesome-icon icon="link"/>
      </button>
      <ui-window>
        <form @submit.self="saveLink">
          Link to 
          <select v-model="linkTo">
            <option value="">Select link to</option>
            <option value="page">Page</option>
            <option value="section">Section</option>
            <option value="url">External URL</option>
            <option value="email">Email</option>
            <option value="phone">Phone</option>
            <option value="file">File</option>
          </select>

          <br>

          <select v-model="payload" v-if="linkTo == 'page'">
            <option v-for="page in pages" :key="page._id" :value="page._id">{{ page.title }}</option>
          </select>
          <ui-button type="submit" @click="saveLink">Save</ui-button>
        </form>
      </ui-window>      
    </ui-popover>
  </div>
</template>

<script>
  export default {
    props: ['isActive', 'commands', 'focus'],
    data() {
      return {
        showLinkMenu: false,
        linkTo: '',
        payload: '',
      }
    },
    computed: {
      pages() {
        return [
          { title: 'Home', _id: '34343' },
          { title: 'About', _id: '34565' },
        ]
      }
    },
    methods: {
      saveLink() {
        const { linkTo, payload } = this
        this.commands.link({ linkTo, payload })
      }
    }
  }
</script>