<template>
  <div class="menubar-text-align">
    <button
      class="menubar__button"
      @click="align('left')"
    >
      <font-awesome-icon icon="align-left"/>
    </button>        
    <button
      class="menubar__button"
      @click="align('center')"
    >
      <font-awesome-icon icon="align-center"/>
    </button>
    <button
      class="menubar__button"
      @click="align('right')"
    >
      <font-awesome-icon icon="align-right"/>
    </button>        
  </div>
</template>

<script>
  export default {
    props: ['isActive', 'commands', 'focus'],
    computed: {
      isAlignLeft() {
        return this.isActive.paragraph({ textAlign: 'left' }) ||
               this.isActive.heading({ textAlign: 'left', level: 1 }) ||
               this.isActive.heading({ textAlign: 'left', level: 2 }) ||
               this.isActive.heading({ textAlign: 'left', level: 3 })
      },
      isAlignCenter() {
        return this.isActive.paragraph({ textAlign: 'center' }) ||
               this.isActive.heading({ textAlign: 'center', level: 1 }) ||
               this.isActive.heading({ textAlign: 'center', level: 2 }) ||
               this.isActive.heading({ textAlign: 'center', level: 3 })
      },
      isAlignRight() {
        return this.isActive.paragraph({ textAlign: 'right' }) ||
               this.isActive.heading({ textAlign: 'right', level: 1 }) ||
               this.isActive.heading({ textAlign: 'right', level: 2 }) ||
               this.isActive.heading({ textAlign: 'right', level: 3 })
      }
    },
    methods: {
      align(textAlign) {
        this.commands.paragraph({ textAlign })
      }
    }
  }
</script>

<style lang="scss">
  .menubar-text-align {
    &__popover {
      background: white;
    }
  }
</style>