<template>
  <div class="text-block">
    <div class="text-block__select-wrapper">
      <select class="text-block__select" v-model="textBlockType">
        <option value="p">Normal text</option>
        <option value="h1">Heading 1</option>
        <option value="h2">Heading 2</option>
        <option value="h3">Heading 3</option>
      </select>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['isActive', 'commands', 'focus'],
    computed: {
      textBlockType: {
        get() {
          if (this.isActive.paragraph({ textAlign: 'left' }) || this.isActive.paragraph({ textAlign: 'center' }) || this.isActive.paragraph({ textAlign: 'right' })) return 'p'
          if (this.isActive.heading({ level: 1, textAlign: 'left' }) || this.isActive.heading({ level: 1, textAlign: 'center' }) || this.isActive.heading({ level: 1, textAlign: 'right' })) return 'h1'
          if (this.isActive.heading({ level: 2, textAlign: 'left' }) || this.isActive.heading({ level: 2, textAlign: 'center' }) || this.isActive.heading({ level: 2, textAlign: 'right' })) return 'h2'
          if (this.isActive.heading({ level: 3, textAlign: 'left' }) || this.isActive.heading({ level: 3, textAlign: 'center' }) || this.isActive.heading({ level: 3, textAlign: 'right' })) return 'h3'
          return 'p'
        },
        set(newVal) {
          if (newVal == 'p') this.commands.paragraph({})
          if (newVal == 'h1') this.commands.heading({ level: 1 })
          if (newVal == 'h2') this.commands.heading({ level: 2 })
          if (newVal == 'h3') this.commands.heading({ level: 3 })
          focus()
        }
      },
      isParagraph() {
        return 
      }
    },
    methods: {
      isHeading(level) {
        return this.isActive.heading({ level, textAlign: 'left' }) || this.isActive.heading({ level, textAlign: 'center' }) || this.isActive.heading({ level, textAlign: 'right' })
      }
    }
  }
</script>

<style lang="scss">
  .text-block {
    &__select-wrapper {
      position: relative;
      
      &::before {
        content: "▼";
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-20%);
        color: rgba(black, .75);
        font-size: 5px;
        z-index: -1;
      }
    }

    &__select {
      appearance: none;
      background: transparent;
      height: 100%;
      border: none;
      padding: 6px 14px 8px 7px;
      color: rgba(black, .9);
      outline: none;
      font-size: .7rem;

      &:hover {
        background: rgba(black, .2);
        cursor: pointer;
      }
    }
  }
</style>