<template functional>
  <section :class="data.class" :style="data.style">
    <div class="wbc-section__layout">
      <slot name="container"></slot>
    </div>
  </section>
</template>

<style lang="scss">
  .wbc-section {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

    &__layout {
      display: flex;
      width: 100%;
    }
  }
</style>
