<template functional>
  <p :class="data.class" :style="data.style">
    <slot></slot>
  </p>
</template>

<script>
  export default {
  }
</script>

<style lang="scss">
  .wbc-p {
    font-size: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
</style>