<template functional>
  <h2 :class="data.class" :style="data.style" :is="level ? `h${level}` : 'h2'">
    <slot></slot>
  </h2>
</template>

<script>
  export default {
    name: 'wbc-heading',
    props: ['level'],
    methods: {
      determineTag(level) {
        return `h${level ? level : '2'}`
      }
    },
    mounted() {
    }
  }
</script>

<style lang="scss">
  .wbc-heading {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1.wbc-heading {
    font-size: 3.375rem;
  }

  h2.wbc-heading {
    font-size: 2.25rem;
  }

  h3.wbc-heading {
    font-size: 1.5rem;
  }
</style>
