<template functional>
  <div :class="data.class" :style="data.style">
    <slot></slot>
  </div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss">
  .wbc-container {
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: 768px) {
      width: 750px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 992px) {
      width: 970px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 1200px) {
      width: 1170px;
      margin-right: auto;
      margin-left: auto;      
    }
  }
</style>
