<template functional>
  <div :class="data.class" :style="data.style">
    <img :src="props.url || 'https://via.placeholder.com/1200x900'"/>
  </div>
</template>

<script>
  export default {
    name: 'wbc-image',
    props: ['image', 'url'],
  }
</script>

<style lang="scss">
  .wbc-image {
    padding: .75rem;
    max-width: 100%;

    & > img {
      display: block;
      max-width: 100%;
    }
  }
</style>
