<template functional>
  <div :class="data.class" :style="data.style">
    <slot name="header"/>
    <slot name="sidebar"/>
    <slot name="page"/>
    <slot name="footer"/>
  </div>
</template>

<style lang="scss">
  .wbc-root {
    position: relative;
  }
</style>
