<template>
  <div>
    <a class="wbc-button--button" target="_blank" :href="url || '#'">
      {{ content || 'Button text' }}
    </a>
  </div>
</template>

<script>
  export default {
    name: 'wbc-button',
    props: ['isAnchor', 'content', 'url']
  }
</script>

<style lang="scss">
  .wbc-button {
    padding: .75rem;
    text-align: center;

    &--button {
      appearance: none;
      display: inline-block;
      text-align: center;
      line-height: 1;
      border: 1px solid lightgray;
      padding: .5rem .75rem;
      cursor: pointer;
    }
  }
</style>
