<template functional>
  <div :class="data.class" :style="data.style">
    <slot></slot>
  </div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss">
  .wbc-text {
    position: relative;
    z-index: 5;
    padding: .75rem;
  }
</style>
