<template functional>
  <footer :class="data.class" :style="data.style">
    <slot></slot>
  </footer>
</template>

<script>
  export default {
    name: 'wbc-footer'
  }
</script>

<style lang="scss">
  .wbc-footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
</style>
