<template functional>
  <nav :class="data.class" :style="data.style">
    <div class="wbc-nav__nav">
      <slot v-bind="props.scopeProps.default"></slot>
    </div>
  </nav>
</template>

<script>
  export default {
    props: {
      scopeProps: {
        default: () => ({})
      }
    }
  }
</script>

<style lang="scss">
  .wbc-nav {
    display: inline-block;
    // padding: .75rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &__nav {
      display: flex;
      align-items: center;
    }

    &__item {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>