<template functional>
  <div :class="data.class" :style="data.style">
    <a :href="props.url" v-if="props.url">
      {{ props.content }}
    </a>
    <span v-else>
      {{ props.content }}
    </span>
  </div>
</template>

<script>
  export default {
    props: ['type', 'content', 'url']
  }
</script>

<style lang="scss">
  .wbc-nav-item {
    margin-right: 15px;

    a {
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0!important;
    }
  }
</style>