<template>
  <div class="component-wrapper"
    :id="`wrapper-${component.wbcId}`"
    :class="{ raised: isSelected }"
  >
    <slot></slot>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    props: ['component'],
    computed: {
      isSelected() {
        return this.component.wbcId == this.$store.state.editor.selectable.selectedId
      },
      zIndex() {
        return this.isSelected ? 3 : 1
      },
    },
    mounted() {
      this.$store.commit('mountedComponents/addMounted', this.component.wbcId)
    },
    beforeDestroy() {
      this.$store.commit('mountedComponents/removeMounted', this.component.wbcId)
    }
  }
</script>

<style lang="scss">
  .component-wrapper {
    position: relative;
    z-index: 1;

    &.raised {
      z-index: 2;
    }
  }
</style>