<template>
  <div class="selectable" 
    :class="{ selected: isSelected()(component) }" 
    @click.prevent="setSelected(component)"
  >
    <slot></slot>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

  export default {
    props: {
      component: {
        required: true
      }
    },
    methods: {
      ...mapActions('editor/selectable', ['setSelected']),
      ...mapActions('editor/editable', ['setEditable']),
      ...mapGetters('editor/selectable', ['isSelected'])
    },
  }
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .selectable {
    transition: outline-color 0.12s ease, box-shadow 0.12s ease;
    outline: 1px solid transparent;
    outline-offset: -1px;

    &:hover {
      outline: 1px solid rgba($primary-light, 0.7);
      cursor: pointer;
    }

    &.selected {
      outline: 1px solid rgba($primary-light, 1);
      // box-shadow: 0 0 7px rgba($primary-lighter, 0.45);
    }
  }
</style>