<template>
  <component-wrapper class="wbc-image-wrapper" :component="component">
    <ui-popover :options="{ placement: 'top-center', open: isSelected(component)}">
      <selectable :component="component" slot="target">
        <slot></slot>
      </selectable>
      <component-tooltip :component="component"/>      
    </ui-popover>
  </component-wrapper>
</template>

<script>
  import { mapGetters } from 'vuex'
  import wrapper from './mixins/wrapper'
  import selectable from './selectable'
  import componentWrapper from './component-wrapper'
  import componentTooltip from './shared/component-tooltip'
  import imagePlaceholder from '~/assets/images/image-placeholder.svg'

  export default {
    components: { componentTooltip, componentWrapper, selectable },
    mixins: [wrapper],
    computed: {
      ...mapGetters('editor/selectable', ['isSelected'])      
    }
  }
</script>