<template>
  <component-wrapper 
    class="wbc-page-wrapper" 
    :component="component"
    :class="classes"
  >
    <empty-placeholder @click.native="handlePlaceholderClick" v-if="!this.component.children.length"/>
    <slot></slot>
  </component-wrapper>
</template>

<script>
  import { mapActions } from 'vuex'
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'
  import { section } from 'wbc-components/factories/wbc-factory'
  import emptyPlaceholder from './shared/empty-placeholder'

  export default {
    mixins: [wrapper],
    components: { componentWrapper, emptyPlaceholder },
    computed: {
      classes() {
        return {
          empty: !this.component.children.length
        }
      }
    },
    methods: {
      handlePlaceholderClick() {
        this.$store.commit('componentTree/appendComponentTo', { wbcId: this.component.wbcId, newComponent: section() })
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/styles/colors";

  .wbc-page-wrapper {
    min-height: 70vh;

    &.empty {
      background: rgba($primary, .2);
    }

    &__placeholder {
      height: 150px;
      border: 1px solid rgba(blue, .25);
    }
  }
</style>