<template>
  <component-wrapper class="wbc-root-wrapper" :component="component">
    <slot></slot>
  </component-wrapper>
</template>

<script>
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'

  export default {
    mixins: [wrapper],
    components: { componentWrapper },
    created() {
    }
  }
</script>

<style lang="scss">
  .wbc-root-wrapper {
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  }
</style>