<template>
  <component-wrapper class="wbc-section-wrapper" :component="component" @click.native.capture="setSelected(component)">
    <div class="wbc-section-wrapper__floating-menu-wrapper">
      <section-floating-menu :component="component"/>
    </div>

    <empty-container-placeholder :component="component.container()" class="wbc-section-wrapper__empty-placeholder" v-if="!component.container().children.length"/>    

    <slot></slot>
  </component-wrapper>
</template>

<script>
  import { mapActions } from 'vuex'
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'
  import sectionFloatingMenu from './shared/section-floating-menu'
  import emptyContainerPlaceholder from './shared/empty-container-placeholder'

  export default {
    mixins: [wrapper],
    components: { componentWrapper, sectionFloatingMenu, emptyContainerPlaceholder },
    methods: {
      ...mapActions('editor/selectable', ['setSelected']),
    }
  }
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .wbc-section-wrapper {
    border-bottom: 1px dashed rgba(black, .15);

    &__empty-placeholder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    &__floating-menu-wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
</style>
