<template>
  <component-wrapper class="wbc-text-wrapper" :component="component">
    <div class="wbc-text-wrapper__remove" @click="$store.commit('componentTree/removeComponent', { ...component })">
      x
    </div>
    <selectable :component="component">
      <inline-text-editor :component="component">
        <template v-slot:menu-bar="slotProps">
          <menu-bar v-bind="slotProps"/>
        </template>
        <slot></slot>
      </inline-text-editor>
    </selectable>
  </component-wrapper>
</template>

<script>
  import { mapGetters } from 'vuex'
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'
  import selectable from './selectable'
  import inlineTextEditor from './shared/inline-text-editor'
  import menuBar from './shared/inline-text-editor/menu-bar'

  export default {
    components: { componentWrapper, selectable, inlineTextEditor, menuBar },
    mixins: [wrapper]
  }
</script>

<style lang="scss">
  .wbc-text-wrapper {
    &__remove {
      position: absolute;
      top: 0;
      right: 0;
      padding: 3px;
      background: rgba(blue, .1);
      color: white;
      z-index: 10;
      cursor: pointer;
    }
  }
</style>