<template>
  <component-wrapper class="wbc-footer-wrapper" :component="component">
    <div class="wbc-footer-wrapper__floating-menu-wrapper">
      <section-floating-menu :component="component" :disable-remove="true"/>
    </div>

    <empty-container-placeholder :component="component.container()" class="wbc-section-wrapper__empty-placeholder" v-if="!component.container().children.length"/>

    <slot></slot>
  </component-wrapper>
</template>

<script>
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'
  import sectionFloatingMenu from './shared/section-floating-menu'
  import emptyContainerPlaceholder from './shared/empty-container-placeholder'

  export default {
    components: { componentWrapper, sectionFloatingMenu, emptyContainerPlaceholder },
    mixins: [wrapper]
  }
</script>

<style lang="scss">
  .wbc-footer-wrapper {
    &__floating-menu-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);
    }
  }
</style>