<template>
  <component-wrapper class="wbc-nav-wrapper" :component="component">
    <ui-popover :options="{ placement: 'bottom-end', open: isSelected(component)}">
      <selectable :component="component" slot="target">
        <span v-if="component.children.length == 0" style="padding: 0 2rem">Navigation. Click to edit</span>
        <slot></slot>
      </selectable>
      <component-tooltip :component="component"/>
    </ui-popover>
  </component-wrapper>
</template>

<script>
  import { mapGetters } from 'vuex'
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'
  import selectable from './selectable'
  import componentTooltip from './shared/component-tooltip'

  export default {
    mixins: [wrapper],
    components: { componentTooltip, componentWrapper, selectable },
    computed: {
      ...mapGetters('editor/selectable', ['isSelected'])
    }
  }
</script>


<style lang="scss">
  .wbc-nav-wrapper {
    display: inline-block;
  }
</style>