<template>
  <component-wrapper class="wbc-container-wrapper" :component="component">
    <slot></slot>
  </component-wrapper>
</template>

<script>
  import { mapActions } from 'vuex'
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'

  export default {
    mixins: [wrapper],
    components: { componentWrapper },
    methods: {
      ...mapActions('editor/selectable', ['setSelected']),
    }
  }
</script>

<style lang="scss">
  .wbc-container-wrapper {
    width: 100%;
  }
</style>
