<template>
  <component-wrapper class="wbc-header-wrapper" :component="component" @click.native.capture="setSelected(component)">
    <div class="wbc-header-wrapper__floating-menu-wrapper">
      <section-floating-menu :component="component" :disable-remove="true"/>
    </div>

    <div class="wbc-header-wrapper__empty-placeholder" v-if="!component.children.length" @click="$store.commit('editor/editable/setEditableId', component.wbcId)">
      <center>
        <ui-p>Header is empty. Click to add content <font-awesome-icon icon="plus-circle"/></ui-p>
      </center>
    </div>

    <slot v-bind="slotOptions"></slot>
  </component-wrapper>
</template>

<script>
  import { mapActions } from 'vuex'
  import wrapper from './mixins/wrapper'
  import componentWrapper from './component-wrapper'
  import sectionFloatingMenu from './shared/section-floating-menu'
  import emptyPlaceholder from './shared/empty-placeholder'

  export default {
    components: { componentWrapper, sectionFloatingMenu, emptyPlaceholder },
    mixins: [wrapper],
    computed: {
      slotOptions() {
        let options = {}
        if (!this.component.children.length) {
          options['style'] = options['style'] || {}
          options['style']['paddingTop'] = 0
          options['style']['paddingBottom'] = 0
        }

        return options
      }
    },
    methods: {
      ...mapActions('editor/selectable', ['setSelected'])
    }
  }
</script>

<style lang="scss">
  .wbc-header-wrapper {
    border-bottom: 1px dashed rgba(black, .15);

    &__empty-placeholder {
      padding-top: 10px;
      padding-bottom: 10px;
      background: rgba(orange, .25);
    }

    &__floating-menu-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }
</style>