<template>
  <div class="editor-app">
    <component-settings-canvas :style="{ zIndex: '3' }"/>
    <section-insert-canvas :style="{ zIndex: '2' }"/>
    <component-insert-canvas
      :style="{ zIndex: '2', display: $store.state.editor.isEditingText ? 'none' : 'block' }"
    />
    <editable-wbc-tree-canvas :style="{ position: 'relative', zIndex: '1' }"/>
    <div class="editor-popover-canvas" style="z-index: 4"></div>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import editableWbcTreeCanvas from './editor-app/canvas/editable-wbc-tree-canvas'
  import componentInsertCanvas from './editor-app/canvas/component-insert-canvas'
  import sectionInsertCanvas from './editor-app/canvas/section-insert-canvas'
  import componentSettingsCanvas from './editor-app/canvas/component-settings-canvas'

  export default {
    components: { editableWbcTreeCanvas, componentInsertCanvas, sectionInsertCanvas, componentSettingsCanvas },
    mounted() {
      this.$wbcMouseProximities.initEditorHoverListener()
    },
    beforeDestroy() {
      this.$wbcMouseProximities.destroyEditorHoverListener()
    }
  }
</script>

<style lang="scss">
  .editor-app {
    position: relative;

    .editor-popover-canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>