<template>
  <div class="editor-header">
    <router-link to="/" class="editor-header__back"><font-awesome-icon icon="arrow-left"/></router-link>
    
    <ui-flex stretch stretch-height align-center>
      <ui-container>
        <ui-flex stretch align-center justify-between>
          <select>
            <option v-for="page in $store.state.websites.entities.pages">{{ page.slug }}</option>
          </select>
          <div>
            <a :href="`/preview/${$route.params.id}`" target="_blank"><el-button transparent>Preview</el-button></a>
            <el-button type="primary" @click.native="$store.dispatch('websites/saveWebsite', $route.params.id)">Save</el-button>
          </div>
        </ui-flex>
      </ui-container>
    </ui-flex>
  </div>
</template>

<script>
  export default {
    components: {},
  }
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .editor-header {
    position: relative;
    background: darken($primary-darker, 15%);
    background: rgba(lighten($primary, 10%), 0.1);
    color: rgba($primary-text, 1);
    height: 60px;

    &__back {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 35px;
      background: rgba(white, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s background ease;

      &:hover {
        background: rgba(white, 0.15);
      }
    }

    a {
      color: inherit;
    }
  }
</style>