<template>
  <div>
    <default-header></default-header>
    <div class="default-wrapper">
      <nuxt/>
    </div>
  </div>
</template>

<script>
  import defaultHeader from './default/header'

  export default {
    components: { defaultHeader },
    mounted() {
      window.app = this
    }
  }
</script>

<style lang="scss">
  @import "wbc-ui/styles/reset.css";
  @import url("https://use.typekit.net/ghw2per.css");

  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Aktiv Grotesk', sans-serif;
  }

  .default-wrapper {
    padding-top: 2rem;
  }
</style>