<template>
  <ui-container>
    <ui-flex justify-between>
      <ui-h>Your websites</ui-h>
      <el-button type="is-primary" @click="openWebsiteForm">Create website +</el-button>
    </ui-flex>

    <el-row :gutter="20">
      <el-col v-for="(website, id) in websites" :key="id" :span="6">
        <el-card class="box-card">
          <div slot="header">
            <span>#{{ Object.values(websites).indexOf(website) + 1 }}</span>
          </div>

          <el-row>
            <el-col :span="24">
              <ui-h h="4" style="margin-bottom: 15px">Name: {{ website.name }}</ui-h>
              <p></p>
            </el-col>
            <el-col :span="24">
              <el-row :gutter="10">
                <el-col :span="12">
                  <nuxt-link :to="`/preview/${id}`">
                    <el-button style="width: 100%">Preview</el-button>
                  </nuxt-link>            
                </el-col>                
                <el-col :span="12">
                  <nuxt-link :to="`/editor/${id}`">
                    <el-button type="primary" style="width: 100%">Edit</el-button>
                  </nuxt-link>                                 
                </el-col>
              </el-row>                   
            </el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
  </ui-container>
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import websiteForm from '~/components/website/form'

  export default {
    computed: {
      ...mapState({
        websites: state => state.websites.entities.websites
      })
    },
    created() {
      this.$store.dispatch('websites/fetchWebsites')
    },
    methods: {
      openWebsiteForm() {
        this.$modal.show(websiteForm)
      }
    }
  }
</script>