<template>
  <component-popper :component="component" :placement="prepend ? 'top-start' : 'bottom-start'">
    <template v-slot="{ parentWidth, parentHeight }">
      <div 
        class="section-insert-line"
        :class="{ active }"
        :style="{ width: `${parentWidth}px` }"
        @mouseenter="active=true"
        @mouseleave="active=false"
      >
        <div class="section-insert-line__line"></div>
        <div class="section-insert-line__bullet-wrapper">
          <mouse-proximity slot="target" :threshold="60">
            <template v-slot:default="{ active }">
              <div 
                class="section-insert-line__bullet"
                :class="{ hidden: !active }"
                @mouseenter="hoverBullet=true"
                @mouseleave="hoverBullet=false"
                v-tooltip.right="'Insert section here'"
                @click="insertSection"
              >
              </div>
            </template>
          </mouse-proximity>
        </div>    
      </div>        
    </template>
  </component-popper>
</template>

<script>
  import mouseProximity from '../shared/mouse-proximity'
  import componentPopper from '../shared/component-popper'
  import { section } from 'wbc-components/factories/wbc-factory'

  export default {
    components: { mouseProximity, componentPopper },
    props: ['component', 'prepend'],
    data() {
      return {
        active: false,
        hoverBullet: false
      }
    },
    methods: {
      insertSection() {
        const { wbcId } = this.component
        const newComponent = section()

        if (this.prepend) {
          this.$store.commit('componentTree/insertComponentBefore', { wbcId, newComponent })
        } else {
          this.$store.commit('componentTree/insertComponentAfter', { wbcId, newComponent })
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .section-insert-line {
    // position: relative;
    z-index: 3;

    &.active {
      .section-insert-line__line {
        width: 100%;
      }
    }

    &__line {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -1.5px);
      height: 3px;
      width: 0;
      // transition: 0.3s width linear;
      background: $primary-lighter;

      .hover-bullet & {
        // width: 100%;
      }
    }

    &__bullet-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);    
    }

    &__bullet {
      position: relative;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: $primary;
      transition: 0.2s transform ease;
      transform: scale(1);
      box-shadow: 0 0 5px rgba(black, .35);

      &.hidden {
        transform: scale(0);
        visibility: hidden;
      }

      .hover-active & {
        visibility: visible;
        transform: scale(1);
      }

      &::before {
        content: '+';
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(white, .85)
      }

      &:hover {
        cursor: pointer;
        background: $primary-darker;
      }
    }
  }
</style>