<template>
  <component-popper :component="component" :placement="prepend ? 'top-start' : 'bottom-start'">
    <template v-slot="{ parentWidth }">
      <div 
        class="insert-line" 
        :style="{ width: `${parentWidth}px` }" 
        :class="{ 'hover-bullet': hoverBullet }"
      >
        <div class="insert-line__line"></div>
        <div class="insert-line__bullet-wrapper">
          <ui-popover>
            <mouse-proximity slot="target" :threshold="60">
              <template v-slot:default="{ active }">
                <div class="insert-line__bullet" :class="{ hidden: !active }" @mouseenter="hoverBullet=true" @mouseleave="hoverBullet=false"></div>
              </template>
            </mouse-proximity>
            <ui-window>
              <template slot="header">
                <ui-h h="4">Insert new component</ui-h>
              </template>
              <insert-components :component="component" @component="insertComponent"/>
            </ui-window>
          </ui-popover>
        </div>      
      </div>
    </template>
  </component-popper>
</template>

<script>
  import Popper from 'popper.js'
  import insertComponents from '../shared/insert-components'
  import mouseProximity from '../shared/mouse-proximity'
  import componentPopper from '../shared/component-popper'

  export default {
    components: {insertComponents, mouseProximity, componentPopper},
    props: ['component', 'prepend'],
    data() {
      return {
        hoverBullet: false,
        popperInstance: null,
      }
    },
    methods: {
      insertComponent(newComponent) {
        const { wbcId } = this.component

        if (this.prepend) {
          this.$store.commit('componentTree/insertComponentBefore', { wbcId, newComponent })
        } else {
          this.$store.commit('componentTree/insertComponentAfter', { wbcId, newComponent })
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .insert-line {
    &__line {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -1.5px);
      height: 3px;
      width: 0;
      background: $primary-lighter;

      .hover-bullet & {
        width: 100%;
      }
    }

    &__bullet-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);    
    }

    &__bullet {
      position: relative;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: $primary;
      transition: 0.2s transform ease;
      transform: scale(1);
      box-shadow: 0 0 5px rgba(black, .35);

      &.hidden {
        transform: scale(0);
        visibility: hidden;
      }

      .hover-active & {
        visibility: visible;
        transform: scale(1);
      }

      &::before {
        content: '+';
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(white, .85)
      }

      &:hover {
        cursor: pointer;
        background: $primary-darker;
      }
    }
  }
</style>