<template>
  <div class="component-tooltip">
    <div class="component-tooltip__item">{{ componentName }}</div>
    <div class="component-tooltip__item component-tooltip__item--clickable" @click="edit">Edit</div>
    <div class="component-tooltip__item component-tooltip__item--clickable" @click="remove">Remove</div>
  </div>
</template>

<script>
  import componentNames from 'wbc-components/config/names/components'

  export default {
    props: ['component'],
    computed: {
      componentName() {
        return componentNames[this.component.name] || this.component.name
      }
    },
    methods: {
      edit() {
        this.$store.dispatch('editor/editable/setEditable', this.component)
      },
      remove() {
        this.$store.commit('componentTree/removeComponent', this.component)
      }
    }
  }
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .component-tooltip {
    display: flex;
    font-family: 'Aktiv Grotesk', sans-serif;

    &:hover {
      // display: block;
    }

    &__item {
      padding: 12px 14px;
      background: $primary-darker;
      font-size: 12px;
      letter-spacing: .5px;
      font-weight: 300;
      color: white;

      &--clickable {
        font-weight: 500;

        &:hover {
          cursor: pointer;
          background: lighten(#121639, 10%);
        }
      }
    }
  }
</style>