<template>
  <div class="empty-container-placeholder">
    <center>
      <ui-p>
        <ui-popover>
          <span slot="target">Section is empty. Click to add content <font-awesome-icon icon="plus-circle"/></span>
          <ui-window>
            <template slot="header">
              <ui-h h="4">Insert new component</ui-h>
            </template>            
            <insert-components :component="component" @component="handleInsert"/>
          </ui-window>   
        </ui-popover>
      </ui-p>
    </center>
  </div>
</template>

<script>
  import insertComponents from '../../../shared/insert-components'

  export default {
    components: { insertComponents },
    props: ['component'],
    methods: {
      handleInsert(newComponent) {
        const payload = { wbcId: this.component.wbcId, newComponent }
        this.$store.commit('componentTree/appendComponentTo', payload)
      }
    }
  }
</script>

<style lang="scss">
  .empty-container-placeholder {
    color: dodgerblue;
    text-align: center;
    cursor: pointer;

    &__content {
    }
  }
</style>