<template>
  <div class="empty-placeholder">
    <center>
      <ui-p>Page is empty. Click to add section <font-awesome-icon icon="plus-circle"/></ui-p>
    </center>
  </div>
</template>

<style lang="scss">
  @import "~assets/styles/colors";

  .empty-placeholder {
    padding: 25px;
    
    &__content {
      text-align: center;
    }

    &__title {
      color: rgba($primary-darker, .7);
    }

    &__icon {
      font-size: 2rem;
      color: rgba($primary-darker, .7);
      margin-bottom: 10px;
    }
  }
</style>