<template>
  <div class="inline-text-editor">
    <editor-menu-bar :editor="editor">
      <template slot-scope="slotProps">
        <slot name="menu-bar" v-bind="{ ...slotProps, focused }" :editor="editor"></slot>          
      </template>
    </editor-menu-bar>

    <editor-menu-bubble :editor="editor">
      <div slot-scope="slotProps">
        <slot name="menu-bubble" v-bind="slotProps" :editor="editor"></slot>
        <slot name="link-menu-bubble" v-bind="slotProps" :editor="editor"></slot>
      </div>
    </editor-menu-bubble>

    <editor-content spellcheck="false" class="editor__content" :editor="editor"/>
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble } from 'tiptap'
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  Bold,
  Code,
  Italic,
  Strike,
  History,
  Placeholder,
} from 'tiptap-extensions'

import { mapGetters } from 'vuex'
import Paragraph from './inline-text-editor/tiptap-extensions/nodes/Paragraph'
import Heading from './inline-text-editor/tiptap-extensions/nodes/Heading'
import Link from './inline-text-editor/tiptap-extensions/marks/Link'
import Underline from './inline-text-editor/tiptap-extensions/marks/Underline'
import mapEditorContentsToWbc from './inline-text-editor/map-editor-contents-to-wbc'
import mapWbcToEditorContents from './inline-text-editor/map-wbc-to-editor-json'

export default {
  components: {
    EditorContent,
    EditorMenuBar,
    EditorMenuBubble,
  },
  props: ['component'],
  data() {
    return {
      editor: new Editor({
        content: mapWbcToEditorContents(this.component),
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new Bold(),
          new Code(),
          new Italic(),
          new Link(),
          new Strike(),
          new Underline(),
          new History(),
          new Paragraph(),
          new Placeholder({
            emptyClass: 'is-empty',
            emptyNodeText: 'Type something here …'
          }),
        ],
        onFocus: this.handleEditorFocus,
        onBlur: this.handleEditorBlur
      }),
      focused: false
    }
  },
  methods: {
    handleEditorFocus() {
      this.focused = true
      this.$store.commit('editor/setIsEditingText', true)
    },
    handleEditorBlur() {
      this.focused = false
      this.$store.commit('editor/setIsEditingText', false)
      const newComponent = mapEditorContentsToWbc(this.editor.getJSON())
      this.$store.commit('componentTree/updateComponent', { wbcId: this.component.wbcId, newComponent })
    }
  },
  beforeDestroy() {
    this.editor.destroy()
  }
}
</script>

<style lang="scss">
  .inline-text-editor {
    position: relative;
    z-index: 5;
  }

  .editor__content {
    padding: .75rem;

    & > [contenteditable] {
      outline: none;

      &:hover {
        cursor: text;
      }
    }

    .is-empty {
      &::before {
        content: attr(data-empty-text);
        position: absolute;
      }
    }
  }
</style>