<template>
  <div class="section-floating-menu">
    <div class="section-floating-menu__item" @click="edit">
      <div class="section-floating-menu__item-content">
        <font-awesome-icon icon="pen"/>
      </div>
    </div>
    <div class="section-floating-menu__item" @click="remove" v-if="!disableRemove">
      <div class="section-floating-menu__item-content">
        <font-awesome-icon icon="trash"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['component', 'disableRemove'],
  methods: {
    edit() {
      this.$store.dispatch('editor/editable/setEditable', this.component)
    },
    remove() {
      if (confirm('Remove section?')) this.$store.commit('componentTree/removeComponent', this.component)
    }
  }
}
</script>

<style lang="scss">
  @import "~wbc-ui/styles/variables/colors";

  .section-floating-menu {
    border-radius: 999em;
    // padding: 10px 6px;
    background: $primary;
    text-align: center;
    transition: 0.15s linear box-shadow;

    &:hover {
      box-shadow: 0 0 5px rgba(black, .55);
    }

    &__item {
      position: relative;
      // margin-bottom: 10px;
      color: white;
      font-size: 10px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: $primary;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__item-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>
