<template>
  <div class="insert-nav-item">
    <ui-h h="3">Add menu item</ui-h>
    <ui-button transparent>Text</ui-button>
    <ui-button transparent>Button</ui-button>
    <ui-button transparent>Social icons</ui-button>


    <select id="nav-item-type">
      <option value="">Please choose link to</option>
      <option value="page">Page</option>
      <option value="url">External url</option>
      <option value="section">Section</option>
    </select>

    <ui-select :options="['Home', 'About', 'Contact']"/>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        newItem: {
          settings: {
            type: '',
            content: ''
          }
        }
      }
    }
  }
</script>