<template>
  <div class="nav-item-settings">
    <ui-flex stretch align-center>
      <div class="nav-item-settings__content">
        <ui-text-field v-model="itemContent"/>
      </div>

      <div class="nav-item-settings__content">
        <ui-text-field v-model="itemUrl" placeholder="Url..."/>
      </div>

      <div class="nav-item-settings__action">
        <font-awesome-icon icon="trash" @click="removeItem"/>      
      </div>
    </ui-flex>
  </div>
</template>

<script>
  export default {
    props: ['nav', 'item'],
    computed: {
      itemContent: {
        get() {
          return this.item.settings.content
        },
        set(content) {
          const { wbcId } = this.item
          const newComponent = { settings: { content } }
          this.$store.commit('componentTree/updateComponent', { wbcId, newComponent })
        }
      },
      itemUrl: {
        get() {
          return this.item.settings.url
        },
        set(url) {
          const { wbcId } = this.item
          const newComponent = { settings: { url } }
          this.$store.commit('componentTree/updateComponent', { wbcId, newComponent })
        }
      }      
    },
    methods: {
      removeItem() {
        this.$store.commit('componentTree/removeComponent', { wbcId: this.item.wbcId })
      }
    }
  }
</script>

<style lang="scss">
  .nav-item-settings {
    margin-bottom: 1rem;

    &__type {
      padding-right: .5rem;
    }

    &__content {
      flex-grow: 1;
    }

    &__action {
      padding: 0 .5rem;
    }
  }
</style>