<template>
  <div class="items-settings">
    <nav-item v-for="item in nav.children" :nav="nav" :item="item" :key="item.wbcId"/>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import { mapActions } from 'vuex'
  import navItem from './nav-item'

  export default {
    components: { navItem, draggable },
    props: ['nav']
  }
</script>

<style lang="scss">
  .items-settings {
    &__item {
      padding: .75rem;
      margin-bottom: .5rem;
      background: lightblue;

      &.sortable-ghost {
        background: rgba(lightblue, .5);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
</style>